.App {
  text-align: center;
  background-image: url(components/Background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
}

.App-header {
  padding-top: 38px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inside-App-Header {
  display: flex;
  justify-content: center;
}

input {
  border: solid;
  border: "2px";
  border-color: white;
  color: #9f9f9f;
  background-color: transparent;
  margin-top: 60px;
  padding-left: 12px;
  margin-right: 10px;
  height: 35px;
  width: 196px;
  border-radius: 8px;
  outline: none;
}

input::placeholder {
  height: 22px;
  width: 132px;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: 700;
}

button {
  background-color: transparent;
  margin-top: 60px;
  height: 42px;
  width: 84px;
  color: white;
  border: "3px";
  border: solid;
  border-color: white;
  border-radius: 8px;
  font-family: "Nunito";
  font-size: 16px;
  cursor: pointer;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

.card {
  border-radius: 8px;
  border: 2px;
  border: solid;
  width: 224px;
  height: 224px;
  cursor: pointer;
}

.card:hover {
  border-color: #cbd736;
}

.card:hover .cardImage {
  background-blend-mode: normal;
}

.cardImage {
  background-repeat: no-repeat;
  background-size: cover;
  width: 224px;
  height: 169px;

  background-color: #fff;
  background-blend-mode: luminosity;
}

.cardText p {
  padding: 0px;
  margin: 0px;
}

.cardTextSpecies {
  font-size: 12px;
  font-weight: 400;
}

.cardTextName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardText {
  background-color: rgba(0, 0, 0, 0.4);

  padding-left: 13px;
  padding-top: 7px;
  padding-bottom: 10px;
  margin: 0px;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  backdrop-filter: blur(10px);
}

.paginationSetting {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 200px;
}

.paginationSetting button {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.buttonFooter.selected {
  color: #cbd736;
}

.paginationSetting a {
  text-decoration: none;
}

.modal {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1034px;
  height: 799px;
  display: flex;
  border: none;
  border-radius: 15px;
  align-items: center;
}

.modalSetting {
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-left: -500px;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  background-color: black;
  z-index: 3;
}

.modalSetting p {
  color: white;
  margin: 0px;
}

.modalTextName {
  font-size: 20px;
  padding-left: 13px;
}

.modalTextSpecies {
  font-size: 12px;
  padding-left: 13px;
  padding-bottom: 9px;
}

.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.modalImgContainer {
  overflow: hidden;
  height: 798px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.modalImg2 {
  filter: blur(30px) brightness(0.6);
  width: 441px;
  height: 1214px;
  z-index: 1;
}

.modalImg1 {
  width: 401px;
  height: 598px;
  object-fit: cover;
  justify-content: left;
  z-index: 2;
}

.textModalRight {
  padding-left: 436px;
  color: #cbd736;
  font-family: Nunito;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 8.45px;
  margin-top: -300px;
}

.textModalRight p {
  margin: 0px;
}

.insideTextModalRightTitleNormal {
  padding-top: 63px;
}

.insideTextModalRight {
  color: white;
  color: #d3d3d3;
  padding-top: 9px;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}

.insideTextModalRightTitle {
  padding-top: 17px;
  letter-spacing: normal;
}

.modalButton {
  z-index: 999;
  margin-top: -720px;
  margin-left: -329px;
  width: 84px;
height: 42px;
flex-shrink: 0;
border-radius: 8px;
border: 2px solid #FFF;
color: #FFF;
text-align: center;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
