.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .image {
    width: 1440px; /* Adjust the width to match the original image width */
    height: 900px; /* Adjust the height to match the original image height */
  }